doctype html

head
    title Object movement simulation in a gravitational field.
    link(rel="stylesheet" type="text/css" href="/style.css")

body
    div.first
        h2 It is a simulation of the behavior of a small object in
        h2 space intercepted by the gravitational field of a massive object.
        h3 Please fill the form below:
    form(action="/run" method="POST")
        div.second
            label(for="mass_x") X coordinate of a massive object
            br
            input(type="number" name="mass_x" value="800")
            br
            label(for="x") The starting X coordinate of the object
            br
            input(type="number" name="x" value="1200")
            br
            label(for="x_speed_vector") X coordinate of the initial velocity vector
            br
            input(type="number" name="x_speed_vector" value="15")
            br
        div.third    
            label(for="mass_y") Y coordinate of a massive object
            br
            input(type="number" name="mass_y" value="600")
            br          
            label(for="y") The starting Y coordinate of the object
            br
            input(type="number" name="y" value="300")
            br
            label(for= "y_speed_vector") Y coordinate of the initial velocity vector
            br
            input(type="number" name="y_speed_vector" value="-2")
        br
        div.button
            button(id="but" type="submit") Run
    div.fourth
        h2.third If you like the project you can download it from 
        a(id="git" href="https://github.com/radziocz/gravity.git") https://github.com/radziocz/gravity.git

