/* body {
    width: 800px;
} */

div.first {
    color: blue;
    margin: auto;
    width: 60%;
    text-align: center;
    }

div.second {
    color: green;
    margin: auto;
    width: 60%;
    text-align: center;
    position: relative;
    right: 250px;
    }

div.third {
    color: red;
    margin: auto;
    width: 60%;
    text-align: center;
    position: relative;
    left: 200px;
    bottom: 125px;
    }

div.button {
    color: blue;
    margin: auto;
    text-align: center;
    position: relative;
    bottom: 50px;
    }

div.fourth {
    color: purple;
    margin: auto;
    width: 60%;
    text-align: center;
    position: relative;
    bottom: 50px;
}

#but {
    font-size: 20px;
    background-color: orange;
}